{% extends 'base.html' %}
{% block title %}{{ image['title'] }}{% endblock %}

{% block content %}
<article>
    <div class="image">
        <h2 class="image-title">{{ image['title'] }}</h2>
        <div class="image-details">
        <p>
            <a href="{{ url_for('homepage.index', page=1, author_name=image['username']) }}" class="username">
                {{ image['username'] }}</a>
            {{ image['created'].strftime('%Y-%m-%d') }}</p>
            {% if image['description'] %}
                <p class="description">{{ image['description'] }}</p>
            {% endif %}
        </div>

        {% if image['filename'] %}
            <img src="{{ url_for('static', filename='images/'+image['filename']) }}" class="image-image" name="{{ image['title'] }}"
                 alt="{% if image['description'] %}{{ image['description'] }}{% else %}{{ image['title'] }}{% endif %}">
        {% else %}
            <img src="{{ image['img_src'] }}" class="image-image" alt="{{ image['title'] }}" name="{{ image['title'] }}">
        {% endif %}
    </div>
</article>
<section class="comments">
    <div class="add-comment">
        <form method="post">
            <input id="comment" name="comment" class="input" type="text" placeholder=" " required/>
            <input type="submit" value="Zapisz" class="submit">
        </form>
    </div>

    {% for comment in comments %}
    <div class="comment">
        <p class="login">{{ comment['username'] }}</p>
        <p class="data">{{ comment['created'] }}</p>
        <p class="body">{{ comment['body'] }}</p>
    </div>
    {% endfor %}
</section>
{% endblock %}
