{% extends 'base.html' %}
{% block title %}Strona Główna{% endblock %}

{% block content %}
{% for image in images %}
<article>
    <div class="image">
        <h2 class="image-title">
            <a href="{{ url_for('homepage.image_page', img_id=image['id']) }}"  title="{{ image['title'] }}">{{ image['title'] }}</a></h2>
        <div class="image-details">
        <p class="author-and-data">
            <a href="{{ url_for('homepage.index', page=1, author_name=image['username']) }}" class="username" title="Sprawdź inne posty autora {{ image['username'] }}">
                {{ image['username'] }}</a>
            {{ image['created'].strftime('%Y-%m-%d') }}</p>
        <div class="homepage-comments">
            <img src="{{ url_for('static', filename='comments_16.png') }}" width="16" height="16" class="comments-image" all="Liczba komentarzy">
            {{ image['comments'] }}
        </div>
        </div>

            {% if image['description'] %}
            <div class="description-div">
                <p class="description-p">{{ image['description'] }}</p>
            </div>
            {% endif %}

        {% if image['filename'] or image['img_src'] %}
            <a href="{{ url_for('homepage.image_page', img_id=image['id']) }}" title="{{ image['title'] }}">
            {% if image['filename'] %}
                <img src="{{ url_for('static', filename='images/'+image['filename']) }}" class="image-image" name="{{ image['title'] }}"
                     alt="{% if image['description'] %}{{ image['description'] }}{% else %}{{ image['title'] }}{% endif %}">
            {% else %}
                <img src="{{ image['img_src'] }}" class="image-image" name="{{ image['title'] }}"
                alt="{% if image['description'] %}{{ image['description'] }}{% else %}{{ image['title'] }}{% endif %}">
            {% endif %}
            </a>
        {% endif %}

    </div>
</article>
{% endfor %}
<div class="pagination">
    {% if next_page %}
    <div class="pagination-button">
        <a href="{{ url_for('homepage.index', page=next_page, author_name=author) }}" title="Następna strona" class="pagination-a">Następna strona</a>
    </div>
    {% endif %}
</div>
{% endblock %}
