{% extends 'base.html' %}
{% block title %}Dodaj nowy obrazek{% endblock %}

{% block content %}
<div class="form-body" xmlns="http://www.w3.org/1999/html">
  <form method="post" enctype=multipart/form-data>
      <h1 class="title">Dodaj nowy obrazek</h1>
     <div class="input-container ic1">
        <input id="title" name="title" class="input" type="text" placeholder=" " maxlength="80" required/>
        <div class="cut cut-long"></div>
        <label for="title" class="placeholder">Tytuł obrazka</label>
      </div>
    <div class="input-container ic2" style="margin-bottom: 85px;">
        <textarea id="description" name="description" class="input description" placeholder=" "></textarea>
        <div class="cut cut-long"></div>
        <label for="description" class="placeholder">Opis (opcjonalnie)</label>
      </div>
    <div class="input-container ic2">

        <label for="image" class="upload-input input">
            <input type="file" name="image" id="image" style="display: none;" accept=".png, .jpg, .jpeg, .gif">
            <img src="{{ url_for('static', filename='upload_32.png') }}" class="upload-image" width="51" height="51" alt="Wrzuć grafikę!">
        </label>
    </div>
      <input type="submit" value="Zapisz" class="submit">
  </form></div>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script>
            function delete_flash(flash){
                $(flash).parent().remove()
            }
        </script>
{% endblock %}