<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_512.webp') }}">
    <title>{% block title %} {% endblock %} | ImagoCMS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
<div class="error-messages">
  {% for message in get_flashed_messages() %}
  <div class="close-btn" onclick=delete_flash(this)>x</div>
  <div class="flash show">{{ message }}</div>
  {% endfor %}
</div>
    <header class="header">{% include 'header.html' %}</header>
    <div class="content-wrapper">
      <main class="main">{% block content %} {% endblock %}</main>
    </div>
    <footer class="footer">{% include 'footer.html' %}</footer>
  </body>
</html>
