<div class="heading">
<div class="logo"><a href="{{ url_for('homepage.index') }}">
    <img src="{{ url_for('static', filename='logotype_213x64.webp') }}" width="213" height="64"></a></div>
<div class="nav">
    {% if g.user %}
    <span class="nav-link" style="color: #f60;">{{ g.user['username'] }}</span>
    {% if g.user['moderator'] == 1 or g.user['superuser'] == 1 %}
        <a href="{{ url_for('panel.mod_panel') }}" class="nav-link">Panel moderatora</a>
    {% endif %}
    {% if g.user['superuser'] == 1 %}
        <a href="{{ url_for('panel.admin_panel') }}" class="nav-link">Panel Administratora</a>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}" class="nav-link">Wyloguj się</a>
    <a href="{{ url_for('homepage.create') }}" class="nav-link add-new">Dodaj</a>
    {% else %}
    <a href="{{ url_for('auth.register') }}" class="nav-link">Zarejestruj się</a>
    <a href="{{ url_for('auth.login') }}" class="nav-link">Zaloguj się</a>
    {% endif %}
</div>
</div>